<?xml version="1.0"?>
<ruleset name="PSR12-Custom">
    <description>PSR12 based custom ruleset</description>

    <!-- Config -->
    <config name="ignore_errors_on_exit" value="1" />
    <config name="ignore_warnings_on_exit" value="1" />

    <!-- Arguments -->
    <!--<arg name="report" value="summary"/>-->

    <!-- Options -->
    <arg name="colors" />
    <arg value="sp" />

    <!-- Base ruleset -->
    <rule ref="PSR12" />
    <rule ref="PSR1.Methods.CamelCapsMethodName.NotCamelCaps">
        <exclude-pattern>./tests/*</exclude-pattern>
    </rule>

    <!-- Custom Rules -->


    <!-- Folders and files -->
    <file>./src</file>
    <file>./tests</file>
</ruleset>
